.abcustom-itm {
    position: relative;
    display: flex;
    justify-content: flex-start; /* Allinea l'immagine a sinistra */
    align-items: flex-start;
    height: 70vh; /* Imposta l'altezza del contenitore */
    margin-top: 5%; /* Sposta il contenitore verso il basso */
    overflow: hidden; /* Evita che i contenuti escano fuori dal contenitore */
   
}

.abcustom-itm img {
    width: 100%; /* L'immagine occupa la larghezza completa del contenitore */
    height: 100%; /* L'immagine occupa l'altezza completa del contenitore */
    object-fit: contain; /* Fa in modo che l'immagine mantenga le proporzioni senza essere tagliata */
    position: relative;
   
}


.abcustom-caption {
    position: relative;
    margin-left: auto; /* Sposta la caption a destra */
    bottom: 0; /* Allinea in basso */
    color: white;
    text-align: left;
    background: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente per rendere il testo leggibile */
    padding: 15px;
    border-radius: 8px;
    width: 40%; /* Imposta una larghezza massima per la caption */
    margin-right: 5%;
}

.abcustom-caption h3 {
    font-size: 2rem;
    margin: 0;
}

.abcustom-caption p {
    font-size: 1.2rem;
    margin-top: 10px;
}




