/* Container principale che occupa l'intero viewport */
.content_contatti {
    /* border: 3px black solid; */
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    padding-top: 60px;
    padding-bottom: 10px;
    color: #efdeb5aa;
}

/* Body principale */
.body_contatti {
    border: 3px red solid;
    height: calc(100vh - 80px);
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.box_contatti {
    border: 3px red solid;
    width: 95vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;

}

.box_box_contatti{
    width: 30vw;
    height: 40vh;
    border: 3px red solid;
    display: flex;
    justify-content: space-around;
}

p {
    white-space: pre-wrap; /* usato per prendere \n come new line da txt json */
    font-size: 1.5vw;
    font-family: "Gabarito", sans-serif;
}

.logo_contatti{
    width: 15vw;
    height: 20vh;

}
.icons{
    height: 60px;
    width: 60px;
}

