@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.hero{
    display: flex;
    height: 100vh;
    background-color: black;
    background-image: url(../../images/Home_bck.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3 );
  }



  .content{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 0 auto;

    color: #efdeb5aa;
  
  
  }
  .header{
    display: flex;
    flex-direction: row;
  }

  
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px red solid; */
    padding-top: 15vh;
    flex: 1;
  }

.body--logo{

}
  .body h1{
    font-family: "Gabarito";
    font-optical-sizing: auto;
    font-size: 4vw;
    font-style: none;
  
  }
  .body p{
    white-space: pre-wrap; /* usato per prendere \n come new line da txt json */
    font-size: 2vw;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
  }

  @media only screen and (max-width: 1024px) {
    .body h1{
        font-size: 10vw;   
    }
    .body p{
        font-size: 2.5vw; 
    }
  }