/* LoadingScreen.css */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--grey);
  flex-direction: column;
}

.spinner {
  border: 16px solid #f3f3f3; /* Colore di sfondo dello spinner */
  border-radius: 50%;
  border-top: 16px solid #efdeb5aa; /* Colore del bordo */
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
