/* Container principale che occupa l'intero viewport */
.content_work {
    /* border: 3px black solid; */
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    padding-top: 60px;
    padding-bottom: 10px;
    color: #efdeb5aa;
}

/* Body principale */
.body_work {
    border: 3px red solid;
    height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 5em;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    border-radius: 10px; 
  
}

p {
    white-space: pre-wrap; /* usato per prendere \n come new line da txt json */
    font-size: 1.5vw;
    font-family: "Gabarito", sans-serif;
}

/* Div in alto a sinistra */
.top-left {
    position: absolute;
    top: 12rem;
    left: 16rem;
    width: 35vw;
    height: auto;
    max-height: 45vh;

}

/* Div in alto al centro */
.top-right {
    position: absolute;
    top: 12rem;
    left: 30vw;
    width: 40vw;
    height: auto;
    max-height: 45vh;
}

.bottom-left {
    position: absolute;
    top: 17rem;
    left: 13rem;
    width: 28vw;
    height: auto;
    max-height: 45vh;
}
.top-right p{
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 8rem;
    right: 16rem;
    width: 30vw;
    height: auto;
    max-height: 45vh;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    /* Nero con 70% di opacità */

    /* Bordi arrotondati */
    border-radius: 15px;

    /* Padding interno per dare spazio al contenuto */
    padding: 1rem;

    /* Opzionale: ombra */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* Ombra per un effetto sollevato */
}

/* Responsive per schermi più piccoli */
@media only screen and (max-width: 1024px) {
    .content_work {
        padding-top: 0px;
        padding-bottom: 10x;
    }

    .body_work {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        gap: 0em;
        padding-top: 5em;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        overflow-y: auto;
        justify-content: center;
        align-items: center;
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
        position: static;
        /* Annulla il `position: absolute` */
        bottom: auto;
        /* Annulla il valore `bottom` */
        left: auto;
        /* Annulla il valore `left` */
        width: 100%;
        /* Imposta il width a 100% o un altro valore */
        max-height: none;
        /* Annulla il limite di altezza */
        text-align: center;
        background-color: rgba(0, 0, 0, 0.0);
        /* Nero con 70% di opacità */

        /* Bordi arrotondati */
        border-radius: 15px;

        /* Padding interno per dare spazio al contenuto */
        padding: 0rem;

        /* Opzionale: ombra */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
        /* Ombra per un effetto sollevato */
    }

    p{
        font-size: 5vw;
    }
}